
/* CUSTOM CSS - MORENO
===================================================== */

/* Global formatting */
.text-justify     { text-align: justify; }
.text-centralize  { text-align: center; }
.text-left        { text-align: left; }
.disabled > a     { color: #666666 !important; }

#status    { background-image: url("../images/01_pre-loader.gif"); width: 150px; height: 150px; background-size: 150px 150px; margin-left: -75px; margin-top:-75px; }

/* Header */
	/* Main Menu */
	#header {  }
		/* Logo */
		.logo { /*background: none;*/ }
		/* Items */
		.menu-item { font-size: 14px !important; padding-left: 20px !important; }
		.menu-item:first-of-type { padding-left: 5px !important; }

/* Work */
	/* Box Thumbnail Image */
	.content-area img.attachment-post-thumbnail { display: block; height: auto; width: 100%; }
	/* Box Expanded */
		/* Text Area */
		#expandedContent 			 { display: block; height: 500px; }
		#expandedContent ul 		 { list-style-type: circle; margin-bottom: 30px;padding: 0; }
		#expandedContent ul li 		 { line-height: 150%; margin-bottom: 5px; margin-left: 15px; }
		#expandedContent ul li span  { color:#fff; text-transform:uppercase; }
		#expandedContent strong 	 { font-color: white; font-weight: bold; }

/* Single */
	/* Main Menu */
	.menu-single { position: absolute !important; display: block !important; }
	/*.menu-single ul { display: block !important; margin: auto 0px !important; position : relative; top: 30px !important; }*/
	/* Featured Image */
	/*.singleImage { width: 100%; height: auto; }*/
	/* Tagged */
	.tags span:nth-of-type(2) { color: #888; }
	/* Post comments */
	.post-comment { margin-top: 0px !important; padding: 0px 0px 20px !important; }
		/* Comment List */
		.commentlist { margin-bottom: 0px !important; }
			/* Author */
			.admin-comment a { color: #222930 !important; }
			/* Comment */
			.admin-comment .comment-body .comment-content { background-color: #CCB; color: #0; }
	/* Form */
	.reply-label { clear: both; }
	#respond { margin-bottom: 0px; padding-bottom: 5px; }
		/* Scope */
		.scope-area                 { clear: both; }
		.scope-user-label           { font-weight: bold; }
		.scope-logout-button:hover  { color: gray; }
		/* Allowed Tags */
		.form-allowed-tags { font-size: 12px; color: gray; }
	/* Related Posts */
		/* Excerpt */
		.related-post-excerpt  { margin-left: 20px; text-transform: none !important; color: #666; font-size: 12px !important; line-height: 1.5 !important; text-align: justify; font-style: italic; }
		.icon-quote-left       { font-size: 12px; color: #444; }
		/* Time */
		.related-post-time { display: block; margin-top: 24px; color: #444 !important; }

/* Blog */
	/* Blog content */
	#fullwidth { margin: 0 auto; }
	/* Pagination */
	#status-blog { background-image: url( "../images/pacman-loader.gif" ); background-position: 50% 50%; background-repeat: no-repeat; position: relative; width: 100%; height: 24px; }

/* Priser */
	/* Header */
	#priser-page .container .sixteen.columns.menu-head { padding-top: 30px; }
	/* Parallax */
	.priser-teaser-bg { border-top: 5px solid rgba(0, 0, 0, 0.3); background-image:url("../images/15_parallax.jpg"); }

/* Contact */
	/* Social */
		/* <--(...) */
		/* Form */
			/* Input */
			.textarea
			{
				display: inline-block;
				box-sizing: border-box;
			}
			/* Form successfull message *//* Form error message */
			.victory, .error-msg { border-top-left-radius: 6px; -webkit-border-top-left-radius: 6px; -moz-border-top-left-radius: 6px; border-top-right-radius: 6px; -webkit-border-top-right-radius: : 6px; -moz-border-top-right-radius: 6px; background-color: #dfd; padding: 10px 30px; position: relative; font-family: Consolas, Arial; font-size: 16px; }			
			/* Form successfull message */
			.victory { -moz-box-shadow: 2px 2px 0px 0px #ccc; -webkit-box-shadow: 2px 2px 0px 0px #ccc;  box-shadow: 0px 2px 2px 0px #454545; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border: 1px solid #e1ffe1; color: #f9fff9; background-color: #7a7; margin-top: 20px; top: -20px; font-family: Consolas, Arial; font-size: 16px; }
			/* Form error message */
			.error-msg 				{ display: none; color: #fdd; background-color: #ff5050; font-family: Consolas, Arial; font-size: 16px; }
			.show-error-msg         { display: inline-block; }
			.show-error-msg-border  { border: 1px dashed #ff5050 !important; }


/* 404 Single Post */
#teste { position: relative; width: 100%; display: inline-block; padding-top: 120px; padding-bottom: 20px; text-align: center; }