/* CUSTOM CSS - FILIPE ESPÓSITO
===================================================== */

/* WYSIWYG Editor container */
.wysiwyg_container p strong { font-weight: bold; }

/* Social icons on the Team sub-page */
.team-social li { margin: 0 10px; }

/* Logo and menu width - START */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
/* Styles */
   .top-header img.logo
   {
/*      margin: 30px 0;
      max-width: 210px;*/
   }

   .active-header img.logo
   {
/*      margin: 12px 0 !important;*/
   }
   /* Dropdown Menu */
   .menu select { max-width: 70px !important; }
}

@media only screen 
and (min-width : 481px)
and (max-width : 767px) {
/* Styles */
   .top-header img.logo
   {
/*      margin: 30px 0;
      max-width: 210px;*/
   }

   .active-header img.logo
   {
/*      margin: 12px 0 !important;*/
   }
   .menu select { max-width: 70px !important; }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */
   .top-header img.logo
   {
/*      margin: 30px 0 !important;
      max-width: 230px !important;*/
   }
   .active-header img.logo
   {
/*      margin: 12px 0 !important;
      max-width: 230px !important;*/
   }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */
   .top-header img.logo
   {
/*       margin: 27px 0px !important;
height: 51px !important;
width: auto !important; */
   }
   .active-header img.logo
   {
      /* margin: 7px 0px !important; */
   }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/* Logo and Menu width - END */

/* New class for the Bio sub-section on Team section */
.team-member-bio { display: none }
.team-member-bio p
{
   color      : #999;
   font-style : italic;
}

/* New class for the video container in the About section */
.video-about
{
   margin-left  : 0 !important;
   margin-right : 0 !important;
}