.top-header,.portfolio-item-block:hover, .portfolio-item-block.open,.portfolio-item-block .details,
.inner-bg-heading,.service-offer,.postlist .post-meta,.pagination a,.m-bellows .m-header:hover,.m-bellows .m-header:focus,#recent-posts .widgettitle{background:#49B571}
#back-to-top a{background:url("../../images/02_backtotop.png") no-repeat center center #49B571}
#back-to-top a:hover{background:url("../../images/02_backtotop.png") no-repeat center center #2C2D31}
#work-page, #about-page, #ourteem-page, #service-page, #blog-page,#blog-single-page,#service-page input[type="email"],.dark,.work{background:#D8D8D8}

.menu ul li a {border-top: 2px solid rgba(0, 0, 0, 0);}
.service-grid .service-icon {border:8px solid #fff;}
.home-inner-wrap h1 span {background:rgba(44, 45, 49, 0.7);}
.inner-content{background:#fff;}
.red,.team-member i,#social .social li a,.process-block:hover .process-icon,.author,.livet a,.livet h2 a:hover,.timestamp,body,a,.postlist .post-meta a:hover,#recent-posts ul li  a:hover,.article-footer p.tags a,.post-metadetail a:hover{color:#2C2D31}
.team-member i:hover,.w-icon:hover .w-icon-link {color:#49B571;}
h1, h2, h3, h4, h5, h6{color:#2C2D31;}
.inner-row h2,.inner-row h4,.inner-row p,.portfolio-item-block:hover .title,.home-inner-wrap h1 span,.livet a:hover{color:#fff;}
.lead-cta{color:#fff !important;}
.logo {background:url("../../images/03_logo5.png") no-repeat;}
.menu-head p { background: url("../../images/05_title-border-color5.png") no-repeat scroll center bottom; }
.home-teaser-bg {background-image: url("../../images/04_bg.jpg");}
.team-member .imageCover {background: url("../../images/16_image-white-shad5.png") repeat scroll 0 0 transparent;}
.tile-hot:before {background: url("../../images/24_ribboncolor5.png") no-repeat transparent;}
.portfolio-item-block .sub-title{color:#999;}
 .portfolio-item-block:hover .title,.livet a:hover{color:#fff;}
.menu .active,.menu ul li a:hover {border-top: 2px solid #2C2D31;}
.btn,.portfolio-item-block{box-shadow:0 3px 0 0 #1b2228;}
.sendmsg,.btn.btn-first:hover,.btn.btn-pricing:hover,.btn.btn-news:hover ,.btn.btn-close:hover,#basics .column:hover{background:#1b2228;}
.lead-cta:after {border-color:#2C2D31 transparent transparent;}
.our-process .process-icon {box-shadow: 0 0 0 3px #2C2D31;}
.process-block:hover .process-icon {border: 4px solid #2C2D31}
.w-icon-link,#basics,.portfolio-item-block,.content-area .infoCont,
.btn.btn-first,.btn.btn-close,.btn.btn-pricing,.btn.btn-news,.ribbon,.m-bellows .m-header,.whyus:hover .inner-bg-heading,
.our-process .process-icon,.service-grid .service-icon,.pricing-box:hover,.pagination .current,.pagination a:hover,#social,
.sendmsg:hover,.w-icon{background:#2C2D31;color:#fff}
*::-moz-selection{background:#2C2D31;color:#fff}

